In [53]:
import pandas
data=pandas.read_csv("marry_broken.csv",encoding="big5")
data=data.drop_duplicates()
data=data.T.fillna(data.mean(axis=1)).T
print(data)

          index     93年    94年    95年      96年     97年      98年      99年  \
0    男 / 未滿15歲        7      1      3        3       2        1        0
1   男 / 15-19歲     1006    828    829      786     757      517      516
2   男 / 20-24歲    13096  12453  11753    10204    9680     6809     6954
3   男 / 25-29歲    44918  51135  50737    45019   52484    35155    39710
4   男 / 30-34歲    35948  40714  42795    42464   52096  48052.6    50141
5   男 / 35-39歲    16866  17071  17955    18022   20342    16980    20265
7   男 / 40-44歲     8237   7945   7855     7894    8367     7520     8752
8   男 / 45-49歲     4618   4424   4229  4722.56    4546     4444     4874
9   男 / 50-54歲     2684   2671   2714     2666    2762     2911     3035
10  男 / 55-59歲     1254   1257   1345     1427    1603     1774     1879
11  男 / 60-64歲      710    631    621      604     722      786      874
12   男 / 65歲以上     2109   2010   1833     1713    1505     1747     1819
13   女 / 未滿15歲       58     28     24       21      15        2        7
14  女 / 15-19歲     9287   5475   4124     3829    3527     2756     2424
15  女 / 20-24歲    33935  33733  30186    26863   24502    18247    18273
16  女 / 25-29歲    51344  61058  62566    57380   70055    46414    54730
17  女 / 30-34歲    22232  25154  28617    29961   37235    30828  35462.9
18  女 / 35-39歲     7380   7969   8746     8901   10459     9582    11580
19  女 / 40-44歲     3521   3670   3952     3802    4218     3963     4478
20  女 / 45-49歲     1893   2033   2196     2064    2277     2363     2687
21  女 / 50-54歲   1502.5   1213   1286     1271  1502.5     1562     1627
22  女 / 55-59歲      412    442    566      551     708      809      898
23  女 / 60-64歲      202    194    324      199     236      311      392
24   女 / 65歲以上      187    171    199      199     197      262      266

     100年   101年     102年
0       0      0        2
1     600    672      704
2    7983   7938     8093
3   47094  38041    37144
4   61386  52441    54488
5   24933  22663    24907
7   10050   9267  8431.89
8    5325   4950     5093
9    3282   3032     3091
10   2121   1879     1968
11    978   1097     1172
12   1575   1404     1287
13      5      6       10
14   2510   2494     2597
15  19717  18066    17502
16  66013  52421    51751
17  50983  45688    48468
18  14482  13665    15738
19   5254   4950     5442
20   2958   2717     2709
21   1734   1665     1662
22    996    945      991
23    408    479      495
24    267    288      271